In [3]:
import numpy as np
import pandas as pd

In [4]:
#Proporções das especies que receberao valores da desagregação
prop_Abrotea_profundidade_ind= np.load('/home/andre/Área de Trabalho/Reconstrução da Estatística Pesqueira BR/Rio de Janeiro/Peixes/Gadiformes/Abrótea/Desagragação Abrotea_ind/prev_Abrotea_profundidade.npy').flatten()
prop_Abrotea_verdadeira_ind= np.load('/home/andre/Área de Trabalho/Reconstrução da Estatística Pesqueira BR/Rio de Janeiro/Peixes/Gadiformes/Abrótea/Desagragação Abrotea_ind/prev_Abrotea_verdadeira.npy').flatten()

In [5]:
#Soma das proporções
prop_soma = prop_Abrotea_profundidade_ind + prop_Abrotea_verdadeira_ind 
#Dividindo proporções pela soma para que de sempre 1
for i in range(len(prop_Abrotea_profundidade_ind)):
  prop_Abrotea_profundidade_ind[i] /= prop_soma[i] 
  prop_Abrotea_verdadeira_ind[i] /= prop_soma[i]

In [7]:
df_dados = pd.read_excel('/home/andre/Área de Trabalho/Reconstrução da Estatística Pesqueira BR/Rio de Janeiro/Peixes/Gadiformes/Desagreg Abrotea_art_ind - RJ_Reconstrucao_Gadiformes_2024_10_30.xlsx')
df_prev = df_dados[['Ano','Abrotea_profundidade_ind','Abrotea_verdadeira_ind']]

df_Abrotea_ind = df_dados[['Ano','Abrotea_ind']]

anos_para_prever = np.array([1976,1977,1978,1981,1982,1983,1984,1985,1986,1987,1988,1989,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2017,2018,2019,2020,2021,2022])

for i in range(len(prop_Abrotea_profundidade_ind)):
    if i+1950 in anos_para_prever:
      df_prev.loc[i,'Abrotea_profundidade_ind'] = df_Abrotea_ind.loc[i,'Abrotea_ind']*prop_Abrotea_profundidade_ind[i]
      df_prev.loc[i,'Abrotea_verdadeira_ind'] = df_Abrotea_ind.loc[i,'Abrotea_ind']*prop_Abrotea_verdadeira_ind[i]


with pd.option_context('display.max_rows', None,):
   print(df_prev)

df_prev.to_excel('/home/andre/Área de Trabalho/Reconstrução da Estatística Pesqueira BR/Rio de Janeiro/Peixes/Gadiformes/Abrótea/Desagragação Abrotea_ind/Desagregação Abrotea_ind.xlsx')

     Ano  Abrotea_profundidade_ind  Abrotea_verdadeira_ind
0   1950                       NaN                     NaN
1   1951                       NaN                     NaN
2   1952                       NaN                     NaN
3   1953                       NaN                     NaN
4   1954                       NaN                     NaN
5   1955                       NaN                     NaN
6   1956                       NaN                     NaN
7   1957                       NaN                     NaN
8   1958                       NaN                     NaN
9   1959                       NaN                     NaN
10  1960                       NaN                     NaN
11  1961                       NaN                     NaN
12  1962                       NaN                     NaN
13  1963                       NaN                     NaN
14  1964                       NaN                     NaN
15  1965                       NaN                     NaN
16  1966                       NaN                     NaN
17  1967                       NaN                     NaN
18  1968                       NaN                     NaN
19  1969                       NaN                     NaN
20  1970                       NaN                     NaN
21  1971                       NaN                     NaN
22  1972                       NaN                     NaN
23  1973                       NaN                     NaN
24  1974                       NaN                     NaN
25  1975                       NaN                     NaN
26  1976                  1.468892                0.000000
27  1977                  1.617365                0.000000
28  1978                  4.000000                0.000000
29  1979                       NaN                     NaN
30  1980                       NaN                     NaN
31  1981                  3.000000                0.000000
32  1982                  1.000000                0.000000
33  1983                  6.000000                0.000000
34  1984                  9.000000                0.000000
35  1985                  1.000000                0.000000
36  1986                  5.000000                0.000000
37  1987                  1.000000                0.000000
38  1988                  6.000000                0.000000
39  1989                 11.000000                0.000000
40  1990                       NaN                     NaN
41  1991                       NaN                     NaN
42  1992                       NaN                     NaN
43  1993                       NaN                     NaN
44  1994                       NaN                     NaN
45  1995                 37.500000                0.000000
46  1996                 47.000000                0.000000
47  1997                271.000000                0.000000
48  1998                203.000000                0.000000
49  1999                207.500000                0.000000
50  2000                354.500000                0.000000
51  2001                414.855904                4.644117
52  2002                282.133590                8.866396
53  2003                276.484600               14.515386
54  2004                287.583889               21.416114
55  2005                279.752120               27.247869
56  2006                261.750294               31.749713
57  2007                294.429182               43.070824
58  2008                 55.448313                9.561689
59  2009                 65.066210               13.003789
60  2010                 67.677019               15.472984
61  2011                112.279159               29.066843
62  2012                205.832484               59.825508
63  2013                164.819799               53.325201
64  2014                 78.749756               28.170244
65  2015                 13.430903                5.291297
66  2016                       NaN                     NaN
67  2017                 11.070933                5.347067
68  2018                 15.912418               10.239583
69  2019                  8.752992                7.489908
70  2020                  6.962785                7.789315
71  2021                 12.980248               18.996949
72  2022                  7.888560               15.237742